@use 'sass:color';

@use '../mastodon/functions' with (
  $darken-multiplier: 1,
  $lighten-multiplier: -1
);

$black: #000000; // Black
$white: #ffffff; // White

//수정
$longwhile-600: #007acc; // 설정창 버튼 눌렸을때
$longwhile-500: #1d9bf0; // 설정창 기본. 좌측 목록 현재선택도 이색깔
$longwhile-400: #1d9bf0; // focus visible
$longwhile-300: #1d9bf0; // 밝은 색상?

$grey-600: hsl(215, 10%, 63%); // Trout
$grey-100: hsl(209, 41%, 90%); // Topaz

$classic-base-color: hsl(208, 15%, 19%);

$classic-secondary-color: hsl(0, 0%, 100%); // 수정. 전체배경색

$classic-highlight-color: $longwhile-500;

@use '../mastodon/variables' with (
  $success-green: color.adjust(
      hsl(209, 100%, 66%),
      $lightness: 8%,
      $space: hsl
    ),
  $base-overlay-background: $white,

  $ui-base-color: $classic-secondary-color,

  $ui-base-lighter-color: hsl(206, 41%, 85%), // 수정

  $ui-secondary-color: $classic-base-color,

  $ui-button-background-color: $longwhile-500,
  $ui-button-focus-background-color: $longwhile-600,
  $ui-button-focus-outline-color: $longwhile-400,
  $ui-button-tertiary-focus-background-color: $longwhile-600,

  $ui-button-secondary-color: $grey-600,
  $ui-button-secondary-border-color: $grey-600,
  $ui-button-secondary-focus-color: $white,
  $ui-button-tertiary-color: $longwhile-500,
  $ui-button-tertiary-border-color: $longwhile-500,

  $primary-text-color: $black,
  $darker-text-color: $classic-base-color,
  $lighter-text-color: $classic-base-color,
  $highlight-text-color: $classic-highlight-color,
  $dark-text-color: hsl(240deg, 16%, 32%),
  $light-text-color: hsl(240deg, 16%, 32%),
  $inverted-text-color: $black,

  $action-button-color: hsl(240deg, 16%, 45%),
  $emojis-requiring-inversion: 'chains'
);
