@use 'sass:color';
@use 'functions' as *;

// Commonly used web colors
$black: #000000; // Black
$white: #ffffff; // White
$red-600: #b7253d !default; // Deep Carmine
$red-500: #df405a !default; // Cerise

//수정해야 하는 색상 - 수정
$long-while-600: #007acc; // 설정창 버튼 눌렸을때
$long-while-500: #1d9bf0; // 설정창 기본. 좌측 목록 현재선택도 이색깔
$long-while-400: #1d9bf0; // focus visible
$long-while-300: #1d9bf0; // 밝은 색상?

$grey-600: hsl(215, 10%, 63%); // Trout
$grey-100: hsl(209, 41%, 90%); // Topaz

$success-green: #89b1d5 !default; // Padua
$error-red: $red-500 !default; // Cerise
$warning-red: #ff5050 !default; // Sunset Orange
$gold-star: #ca8f04 !default; // Dark Goldenrod

$error-color: $error-red !default;

$red-bookmark: $warning-red;

// 여기 수정
// Values from the classic Mastodon UI
$classic-base-color: hsl(240, 7%, 14%); // 배경 색상
$classic-primary-color: hsl(216, 23%, 76%); // 설정창 좀 어두운 색상 (좌측 목록 등), 
$classic-secondary-color: hsl(0, 15%, 95%); // 설정창 밝은색
$classic-highlight-color: $long-while-500;

// 부스트 아이콘 등 색상
$ui-base-lighter-color: hsl(213, 12%, 71%) !default;

// Variables for defaults in UI
$base-shadow-color: $black !default;
$base-overlay-background: $black !default;
$base-border-color: $white !default;
$simple-background-color: $white !default;
$valid-value-color: $success-green !default;
$error-value-color: $error-red !default;

// Tell UI to use selected colors
$ui-base-color: $classic-base-color !default; // Darkest

$ui-primary-color: $classic-primary-color !default; // Lighter
$ui-secondary-color: $classic-secondary-color !default; // Lightest
$ui-highlight-color: $classic-highlight-color !default;
$ui-button-color: $white !default;
$ui-button-background-color: $long-while-500 !default;
$ui-button-focus-background-color: $long-while-600 !default;
$ui-button-focus-outline-color: $long-while-400 !default;
$ui-button-focus-outline: solid 2px $ui-button-focus-outline-color !default;

$ui-button-disabled-color: color.adjust(
  $ui-button-background-color,
  $alpha: -0.3
) !default;

$ui-button-secondary-color: $long-while-500 !default;
$ui-button-secondary-border-color: $long-while-500 !default;
$ui-button-secondary-focus-border-color: $long-while-300 !default;
$ui-button-secondary-focus-color: $long-while-300 !default;

$ui-button-tertiary-color: $long-while-300 !default;
$ui-button-tertiary-border-color: $long-while-300 !default;
$ui-button-tertiary-focus-background-color: $long-while-600 !default;
$ui-button-tertiary-focus-color: $white !default;

$ui-button-destructive-background-color: $red-500 !default;
$ui-button-destructive-focus-background-color: $red-600 !default;

$ui-button-icon-focus-outline: $ui-button-focus-outline !default;
$ui-button-icon-hover-background-color: rgba(255, 140, 140, 0.4) !default;

// Variables for texts
$primary-text-color: $white !default;

$darker-text-color: $ui-primary-color !default;

$dark-text-color: $ui-base-lighter-color !default;
$secondary-text-color: $ui-secondary-color !default;
$highlight-text-color: lighten($ui-highlight-color, 8%) !default;
$action-button-color: $ui-base-lighter-color !default;
$action-button-focus-color: lighten($ui-base-lighter-color, 4%) !default;
$passive-text-color: $gold-star !default;
$active-passive-text-color: $success-green !default;

// For texts on inverted backgrounds
$inverted-text-color: $ui-base-color !default;
$lighter-text-color: $ui-base-lighter-color !default;
$light-text-color: $ui-primary-color !default;

// Language codes that uses CJK fonts
$cjk-langs: ja, ko, zh-CN, zh-HK, zh-TW;

// Variables for components
$media-modal-media-max-width: 100%;

// put margins on top and bottom of image to avoid the screen covered by image.
$media-modal-media-max-height: 80%;

$no-gap-breakpoint: 1175px;
$mobile-breakpoint: 760px;
$no-columns-breakpoint: 600px;

$font-sans-serif: 'mastodon-font-sans-serif', 'kopubworld-dotum' !default;
$font-display: 'mastodon-font-sans-serif', 'kopubworld-dotum' !default;
$font-monospace: 'mastodon-font-monospace' !default;

$emojis-requiring-inversion: 'back' 'copyright' 'curly_loop' 'currency_exchange'
  'end' 'heavy_check_mark' 'heavy_division_sign' 'heavy_dollar_sign'
  'heavy_minus_sign' 'heavy_multiplication_x' 'heavy_plus_sign' 'on'
  'registered' 'soon' 'spider' 'telephone_receiver' 'tm' 'top' 'wavy_dash' !default;
